
<!-- {{'this is our pizza component'}} -->
<!-- <div *ngFor="let pizza of pizzaArray">
    {{pizza.pizzaName}}
    {{pizza.price}}
    <button (click)="onAddedToCart()">Add to cart</button>
    <input [(ngModel)]="enteredPizza" type="text">
    {{enteredPizza}}
</div> -->
<!-- <input [(ngModel)]="enteredPizza" type="text"> -->


<div class="loginPizza">
    <input [(ngModel)]="enteredUserName" type="text">
    <input [(ngModel)]="enteredPassword" type="text">
    <button (click)="onLogin()">Login</button>
</div>
